.page {
  --background: #fbf8f5;
  --foreground: #fbf8f5;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  padding: 48px 24px 64px;
  gap: 16px;
  text-align: center;
}

.heroLogo {
  width: 120px;
  height: 120px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: var(--text-primary);
  text-wrap: balance;
}

.subtitle {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-secondary);
  text-wrap: balance;
}

.scrollSpacer {
  height: 240px;
}

.contentImage {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}

/* Enable hover only on non-touch devices */
@media (max-width: 600px) {
  .main {
    padding: 40px 20px 56px;
  }

  .logo {
    filter: invert();
  }
}
